<h1>Potatoes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th><%= link_to "new", new_potato_path %></th>
  </tr>
 
  <% @potatoes.each do |potato| %>
    <tr>
      <td><%= potato.title %></td>
      <td>$<%= potato.price %></td>
      <td><%= link_to 'Show', potato_path(potato) %></td>
      <td>
        <%= link_to 'Delete', potato_path(potato),
          method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>